.navbar {
    width: 100%;

    ul {
        display: flex;
        align-items: center;
        padding: 1rem 0;
        gap: 1rem;
        justify-content: center;
        list-style: none;

        li a{
            text-decoration: none;
            color: white;
        }

        li a:hover {
            color: #00BBC9;
            transition: all ease-in-out 0.4s;
        }
    }
}
